@import '{}/imports/ui/_colors.scss';

.t-app .t-spotify-track {
  display: block;
  background-color: transparent;
  border: 1px solid transparentize($button-bg-color, 0.8);
  border-radius: 5px;
  padding: 0.5em;
  text-align: left;
  line-height: 1.3em;
  transition: border-color 0.3s;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    border-color: $button-bg-color;

    .t-spotify-track-add {
      opacity: 1;
    }
  }

  img {
    float: left;
    width: 42px;
    padding-right: 0.5em;
  }

  .t-spotify-track-artist {
    color: darken($text-color, 30%);
  }

  .t-spotify-track-add {
    position: relative;
    float: right;
    height: 30px;
    border: none;
    top: 6px;
    padding: 0 1em;
    opacity: 0;
    background-color: $spotify-green;
    transition: opacity 0.3s;
  }

  .t-spotify-track-add-dropdown {
    color: black;

    > ul {
      padding-left: 0;

      input {
        margin-right: 5px;
      }
    }
  }
}
