.t-app .t-home {
  flex: 1;
  padding: 1em;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 40px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
